body{
  font-family: : Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color:#FFFFFF;
  min-width: 40px;
}

/* Global */
.container{
  width:100%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.btn1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}
/*FA8048*/
header{
  background-color: #efbc68;
  color:#ffffff;
  padding-top:30px;
  min-height: 70px;
  border-bottom: #A02530 4px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display: inline;;
  padding: 0 10px 0 10px;
  background-color: #7FAAC4;
  border-color: #000000;
  border-style: solid;
  border-radius:20px;
  font-size: 17px;
  text-transform: uppercase;
}

header li:hover{
  color:#000000;
  background-color: #2AD3C9;
  border-color: #852B33;
}

header li:active{
  background-color: #CB8E5F;
  border-color: #852C33;
}


header #branding {
  padding-left: 20px;
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  padding-right: 20px;
  float: right;
  margin-top: 10px;
}

header .highlight{
  color:#000000;
  font-weight: bold;
  font-size: 30px;
}

header a:hover{
  color: #E6DBD8;
}

header .margins {
  margin-top: 5px;
  margin-right:10px;
  float: left;
}
/*showcase*/
#showcase{
  min-height: 435px;
  margin-top: 5px;
  background-color:#1E5E5E;
  text-align: center;
  color: #ffffff;
  width:68%;
  border: 1px #ffffff solid;
  border-radius: 5px;
  float:left;
}

#showcase h1 {
  margin-top: 20px;
  font-size: 40px;
  margin-bottom: 10px;
}

#showcase h2 {
  margin:0;
  margin-top: -15px;
  font-size: 25px;
  margin-bottom: 10px;
}

#showcase .p2{
  margin:0;
  margin-top:-5px;
  font-size: 17px;
}

#showcase p{
  margin:0;
  text-align: jastify;
  font-size: 20px;
}

#showcase a{
  text-decoration: none;
  color:#60FFF9;
}
#showcase a:hover{
  color:#000000;
}

#div2{
  width:100%;
  max-height:440px;
  text-align: center;
  overflow: auto;
}

#rightPanel{
  min-height: 435px;
  margin-top: 5px;
  margin-right: 5px;
  width: 29%;
  background-color:#1E5E6E;
  text-align: center;
  border: 1px #ffffff solid;
  border-radius: 10px;
  color: #ffffff;
  float: right;
}

.divBoxs {
  margin-top: -20px;
  border-radius: 10px;
  max-height: 50px;
  background-color: #333231;
}
.divBox1{
  margin-top: -20px;
  min-width: 100%;
  max-height: 325px;
  border:#FFFFFF 1px solid;
  border-radius: 10px;
  background-color: #1E5E6E;
  overflow:auto;
  color: #000000;
}
.divBox1 a{
  text-decoration: none;
  color: #FFFFFF;
}
.divBox1 a:hover{
  color:#053280;
}

.divBox2{
  margin-top: -20px;
  min-width: 100%;
  padding-top:10px;
  max-height: 50px;
  background-color: #1E5E6E;
  color: #000000;
}

.bio-title{
  width: 90%;
  height:90%;
}

section .divImage{
  margin-top: 10px;
  min-height: 25px;
  margin-left: 22.5px;
  min-width: 30px;
  float:left;
}
.cImage{
  margin-top:-10px;
  margin-left:10px;
  width:30px;
  height:30px;
  border-color: #FFFFFF solid;
  border-radius:1060px;
}

a .cImage:hover{
  width:40px;
  height:40px;
  float:center;
}

footer{
  padding: 2px;
  margin-top: 450px;
  background-color: #E8491D;
  color:#ffffff;
  text-align: center;
  border: 1px #ffffff solid;
}

footer p{
  margin:0;
}

footer a{
  text-decoration: none;
  color:#ffffff;
}

footer a:hover{
  color:#000000;
}
.fadein{
  animation: fadeIn 1s;
}


@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
