body{
  font-family: : Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  /*background-color:#4A7268;*/
  background-color:#FFFFFF;
  width: 100%;
}

/* Global */
.container{
  width:100%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.btn1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}
/*FA8048*/
header{
  background-color: #efbc68;
  color:#ffffff;
  padding-top:30px;
  min-height: 70px;
  border-bottom: #A02530 4px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display: inline;;
  padding: 0 10px 0 10px;
  background-color: #7FAAC4;
  border-color: #000000;
  border-style: solid;
  border-radius:20px;
  font-size: 17px;
  text-transform: uppercase;
}

header li:hover{
  color:#000000;
  background-color: #2AD3C9;
  border-color: #852B33;
}

header li:active{
  background-color: #CB8E5F;
  border-color: #852C33;
}


header #branding {
  padding-left: 20px;
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  padding-right: 20px;
  float: right;
  margin-top: 10px;
}

header .highlight{
  color:#000000;
  font-weight: bold;
  font-size: 30px;
}

header a:hover{
  color: #E6DBD8;
}

header .margins {
  margin-top: 5px;
  margin-right:10px;
  float: left;
}

/*Article*/
#articles{
  background-color: #FFFFFF;
  border: #FFFFFF 5px solid;
  color: #FFFFFF;
  width: 100%;
  height: 530px ;

}

#articles h1, #articles p {
  text-align: center;
}

#leftPanel{
  background-color: #1E5E5E;
  margin-left: .3%;
  border-radius: 10px;
  width: 59.09%;
  height: 100%;
  float: left;
  overflow: auto;
}

.lPanTitle{
  margin-top: -19px;
  width: 100%;
  background-color: #000000;
  height: 40px;
}

#leftPanel a, #rightPanel a{
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-size: 100%;
  font-weight: bold;
}
#leftPanel a:hover, #rightPanel a:hover{
  color: #B5F6FA;
}

#leftPanel p{
  color: #FFFFFF;
}

.h2{
  text-align: center;
}

.h1Email{
  text-align: center;
  font-size: 20px;
}
.rightFeed{
  width: 90%;
  margin-right: 40%;
  margin-left: 10%;
  margin-top: 2px;
}

#rightPanel{
  background-color: #1E5E6E;
  margin-right: .3%;
  border:#FFFFFF .1px solid;
  width: 39.01%;
  height: 100%;
  float: right;
  overflow: auto;
}

.headlines{
  margin-top: -19px;
  width: 100%;
  background-color: #000000;
  height: 40px;
}

.rCenter{
  padding-top: 25%;
  text-align: center;
}
.rCenter img{
  width: 85%;
  height: 100%;
}

/*Ads Panel Section here*/
#adsPanel{
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
  background-color: #1E5E6E;
  border: #FFFFFF 1px solid;
  border-radius: 10px;
}

#adsPanel h1{
  color: #FFFFFF;
}

#adsPanel p{
  color: #FFFFFF;
}
#adsPanel .boxes {
  margin-left: 5%;
  width:90%;
  text-align:center;
  overflow: auto;
}


#adsPanel .adsBoxes img{
  width:100%;
  height: 100%;
  float: left;
}

#adsPanel .adsBoxes{
  margin-top: 10px;
  margin-bottom: 10px;
  border: #FFFFFF 2px solid;
  margin-left:1%;
  width:30%;
  float:left;
}
#adsPanel .adsBoxes h1, #adsPanel .adsBoxes p{
  width:100%;
}

/*Follow Section*/
#follow{
    width: 100%;
    align-content: center;
}

.divBoxs {
  margin-top: -30px;
  border-radius: 10px;
  max-height: 20px;
  background-color: #333231;
}
.divBox1{
  padding-top: 50px;
  min-width: 100%;
  max-height: 325px;
  border:#FFFFFF 1px solid;
  border-radius: 10px;
  background-color: #1E5E6E;
  overflow:auto;
  color: #000000;
}
.divBox1 a{
  text-decoration: none;
  color: #FFFFFF;
}
.divBox1 a:hover{
  color:#053280;
}

.divBox2{
  min-width: 100%;
  padding-top: 4px;
  height: 40px;
  border:#FFFFFF 1px solid;
  border-radius: 10px;
  background-color: #1E5E6E;
  overflow:hidden;
  color: #000000;
}

section .divImage{
  min-width: 30px;
  min-height: 25px;
  margin-left: 22px;
  float:left;
}
.cImage{
  width:30px;
  height:30px;
  border-color: #FFFFFF solid;
  border-radius:1060px;
}

a .cImage:hover{
  width:40px;
  height:40px;
  float:center;
}

.imageAlignment{
  width: 100%;
  float: left;
}

/*Footer Section*/
footer{
  padding: 2px;
  background-color: #DC3F2C;
  color:#ffffff;
  text-align: center;
  border: 1px #ffffff solid;
}

footer p{
  margin:0;
}

footer a{
  text-decoration: none;
  color:#ffffff;
}

footer a:hover{
  color:#000000;
}
.fadein{
  animation: fadeIn 1s;
}


@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
